<p id="notice"><%= notice %></p>

<h1>Test Blogs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Created</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @test_blogs %>
  </tbody>
</table>

<br>

<%= link_to 'New Test Blog', new_test_blog_path %>
<%= test_helper %>